@import url("https://fonts.googleapis.com/css?family=Poppins");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#8b9df8), to(#4665fd));
  background: linear-gradient(to right, #8b9df8, #4665fd);
  display: inline-block;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#8b9df8), to(#4665fd));
  background: linear-gradient(to right, #8b9df8, #4665fd);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
}

.navbar {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 3.5rem .5rem 3rem;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  color: #5d78ff;
  border-radius: 0 0 10px 10px;
}

.navbar--left {
  margin-top: .2rem;
}

.navbar--left .brand-logo {
  font-size: 2rem;
  margin: .5rem 1.3rem;
}

.navbar--left .brand-header {
  display: inline-block;
  font-size: 2.4rem;
}

.navbar--right {
  margin-top: .2rem;
}

.navbar--right .navbar-links {
  font-size: 1.6rem;
}

.navbar--right .navbar-links ul {
  list-style: none;
  text-align: center;
}

.navbar--right .navbar-links ul li {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  padding-top: .3rem;
  vertical-align: middle;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar--right .navbar-links ul li a {
  text-decoration: none;
  color: #777;
}

.navbar--right .navbar-links ul li a img {
  display: inline-block;
  border-radius: 50%;
}

.navbar--right .navbar-links ul li:hover:not(:last-child) {
  background: rgba(158, 172, 247, 0.35);
  border-radius: 50%;
}

.navbar--right .navbar-links ul li:hover a .fa,
.navbar--right .navbar-links ul li:hover a .far {
  color: #6a82ff;
  text-shadow: 1px 1px rgba(119, 119, 119, 0.8);
}

.navbar-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-landing .navbar-links {
  margin: 1.2rem 1.4rem;
  text-transform: uppercase;
  width: 80%;
}

.navbar-landing .navbar-links ul {
  list-style: none;
}

.navbar-landing .navbar-links li {
  display: inline-block;
  margin: 0 2rem;
}

.navbar-landing .navbar-links li a {
  color: white;
}

.navbar-landing .navbar-left {
  background-image: linear-gradient(-21deg, rgba(139, 157, 248, 0.7) 0%, rgba(93, 120, 255, 0.7) 50%, rgba(70, 101, 253, 0.7) 100%);
  width: 43%;
  height: 20rem;
  margin-top: -8rem;
  -webkit-transform: skewY(11deg);
          transform: skewY(11deg);
  border-radius: 0 0 15rem 5rem;
}

.navbar-landing .navbar-left .navbar-links ul {
  -webkit-transform: skewY(-11deg);
          transform: skewY(-11deg);
}

.navbar-landing .navbar-right {
  background-image: linear-gradient(21deg, rgba(139, 157, 248, 0.7) 0%, rgba(93, 120, 255, 0.7) 50%, rgba(70, 101, 253, 0.7) 100%);
  width: 43%;
  height: 20rem;
  margin-top: -8rem;
  -webkit-transform: skewY(169deg);
          transform: skewY(169deg);
  border-radius: 0 0 5rem 15rem;
}

.navbar-landing .navbar-right .navbar-links ul {
  -webkit-transform: skewY(-169deg);
          transform: skewY(-169deg);
}

.navbar-landing .brand-logo {
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  background: white;
}

.navbar-landing .navbar-left {
  position: relative;
}

.navbar-landing .navbar-left .navbar-links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar-landing .navbar-right {
  position: relative;
}

.navbar-landing .navbar-right .navbar-links {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.landing-body {
  background: url("../img/bg/job-bg-8.jpg");
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.form {
  font-family: 'Poppins', sans-serif;
  padding: 2rem 3rem;
  width: 45rem;
  text-align: center;
  -webkit-box-shadow: 1px 1px 20px rgba(119, 119, 119, 0.4);
          box-shadow: 1px 1px 20px rgba(119, 119, 119, 0.4);
  border-radius: 7px;
}

.form input, .form select {
  display: block;
  padding: .5rem .4rem;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  margin: 1.4rem auto;
}

.form select {
  color: #777;
}

.form input {
  color: #3859fc;
}

.form input::-webkit-input-placeholder {
  color: #777;
}

.form input:-ms-input-placeholder {
  color: #777;
}

.form input::-ms-input-placeholder {
  color: #777;
}

.form input::placeholder {
  color: #777;
}

.form button {
  margin: 2rem 0;
}

.form .form-text {
  font-size: 1.4rem;
  color: #777;
}

.form hr {
  color: rgba(119, 119, 119, 0.3);
  width: 80%;
  margin: 1.2rem auto;
}

.slider {
  padding: 3px;
  border-radius: 50px;
  display: inline-block;
  background: #eee;
}

.slider .sliderMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}

.slider .sliderMode div {
  position: relative;
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 40px;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 3;
  background: rgba(0, 0, 0, 0);
}

.slider .sliderMode div.on {
  color: #fff;
}

.slider .sliderMode .overlay {
  position: absolute;
  z-index: 2;
  border-radius: 40px;
  width: calc(50% - 3px);
  left: 3px;
  top: 3px;
  bottom: 3px;
  background: green;
  -webkit-transition: 0.5s cubic-bezier(0.1, 0.8, 0.1, 1);
  transition: 0.5s cubic-bezier(0.1, 0.8, 0.1, 1);
}

.slider .sliderMode .overlay.on {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.dropdown {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 2rem;
  margin-left: -8rem;
  display: none;
}

.dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dropdown-content .dropdown-title {
  color: #5d78ff;
  text-align: center;
  margin: .4rem  .6rem;
}

.dropdown-content img {
  width: 30%;
  display: block;
  margin: 1.4rem auto;
}

.dropdown-content a {
  margin: .6rem 3rem;
  display: inline;
}

.show {
  display: block;
}

.button-primary, .button-primary:link, .button-primary:visited, .button-secondary, .button-secondary:link, .button-secondary:visited, .button-tertiary, .button-tertiary:link, .button-tertiary:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.0rem 3.0rem;
  display: inline-block;
  border-radius: 10.0rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  background: #5d78ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-primary:hover, .button-secondary:hover, .button-tertiary:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.button-primary:hover::after, .button-secondary:hover::after, .button-tertiary:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.button-primary:active, .button-primary:focus, .button-secondary:active, .button-secondary:focus, .button-tertiary:active, .button-tertiary:focus {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button-primary::after, .button-secondary::after, .button-tertiary::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.button-primary {
  background: #4665fd;
  color: #fff;
}

.button-primary::after {
  background: #8b9df8;
}

.button-secondary {
  background: #ff7730;
  color: #fff;
}

.button-secondary::after {
  background: #ffb900;
}

.button-tertiary {
  background: #0fe456;
  color: #fff;
}

.button-tertiary::after {
  background: #42e678;
}

.links:link, .links:visited {
  font-size: 1.6rem;
  color: #5d78ff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5d78ff;
  padding: 3px 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.links:hover {
  background: #5d78ff;
  color: #fff;
  -webkit-box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -5px) scale(1.05);
          transform: translate(0px, -5px) scale(1.05);
}

.links:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.register-bg-1 {
  background-image: linear-gradient(105deg, rgba(93, 120, 255, 0.2) 0%, rgba(93, 120, 255, 0.2) 50%, transparent 50%), url("../img/bg/job-bg-1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.register-bg-2 {
  background-image: linear-gradient(105deg, rgba(93, 120, 255, 0.2) 0%, rgba(93, 120, 255, 0.2) 50%, transparent 50%), url("../img/bg/job-bg-2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.register {
  text-align: center;
  height: 100vh;
}

.register .register-body {
  border-radius: 5px;
  display: inline-block;
  margin: 8rem auto;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 1px 20px #777;
          box-shadow: 1px 1px 20px #777;
}

.login {
  text-align: center;
  background-image: linear-gradient(105deg, rgba(93, 120, 255, 0.2) 0%, rgba(93, 120, 255, 0.2) 50%, transparent 50%), url("../img/bg/job-bg-3.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.login .login-body {
  border-radius: 5px;
  display: inline-block;
  margin: 15rem auto;
  background: white;
  -webkit-box-shadow: 1px 1px 20px #777;
          box-shadow: 1px 1px 20px #777;
}

.login .login-body form a {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: -1.2rem;
}

.login .login-body form button {
  margin: 1.2rem auto;
  display: inline-block;
}

.login .login-body form .social-login button:not(:last-child) {
  margin-right: .8rem;
}

.login .login-body form input {
  margin: 2rem auto;
}

.login .login-body form p {
  margin: 1.2rem auto;
}
