*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.3rem 3.5rem 1.3rem 3rem;
  -webkit-box-shadow: 0 1px 8px #eee;
          box-shadow: 0 1px 8px #eee;
  color: #5d78ff;
}

.navbar--left .brand-logo {
  font-size: 2rem;
  margin-right: .9rem;
}

.navbar--left .brand-header {
  display: inline-block;
}

.navbar--right {
  padding-top: 1rem;
}

.navbar--right .navbar-links {
  font-size: 1.6rem;
}

.navbar--right .navbar-links ul {
  list-style: none;
  text-align: center;
}

.navbar--right .navbar-links ul li {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  padding-top: .3rem;
  vertical-align: middle;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar--right .navbar-links ul li a {
  text-decoration: none;
  color: #777;
}

.navbar--right .navbar-links ul li a img {
  display: inline-block;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar--right .navbar-links ul li:hover:not(:last-child) {
  background: rgba(158, 172, 247, 0.35);
  border-radius: 50%;
}

.navbar--right .navbar-links ul li:hover a .fa,
.navbar--right .navbar-links ul li:hover a .far {
  color: #6a82ff;
  text-shadow: 1px 1px rgba(119, 119, 119, 0.8);
}
