.cv {
    * {
        font-size: 1.4rem;

        p {
            font-family: "PT Sans";
        }

        h1 {
            font-family: "Fira Sans";
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    hr {
        margin-top: -0.8rem;
    }

    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;

    &-head {
        display: flex;
        justify-content: start;
        margin-bottom: 1.4rem;

        &-img {
            height: 22rem;
            width: 15rem;
            margin-right: 5rem;
        }

        &-name {

            em {
                display: inline-block;
                margin: 0 1.4rem;
                text-transform: capitalize;
            }

            p {
                margin-top: 1.4rem;
                font-family: 'Fira Sans';
            }
        }
    }

    &-body {
        .cv-details {
            display: flex;
            justify-content: start;
            margin-bottom: 1.4rem;

            .left {
                margin-left: 3.0rem;
            }

            .left,
            .right {
                padding: 1.5rem 0;

                p {
                    margin: .6rem 0;
                }
            }

            .left {
                margin-right: 15rem;
            }

            .right {
                p {
                    font-weight: 600;

                    &:not(:nth-child(2)) {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    &-education {
        .edu-content {
            margin: 1.7rem 0 1.8rem 1.4rem;

            .degree {
                display: flex;
                justify-content: space-between;
                // margin-bottom: .9rem;

                p {
                    &:last-child {
                        margin-right: 2.4rem;
                    }
                }
            }
        }
    }

    &-experience {
        .job-content {
            margin: 1.7rem 0 1.8rem 1.4rem;

            .jobbox {
                display: flex;
                justify-content: space-between;

                // margin-bottom: .9rem;
                &-name {
                    font-size: 1.6rem;
                    font-weight: bold;
                    font-family: "PT Sans";
                }

                p {
                    &:last-child {
                        margin-right: 2.4rem;
                    }
                }
            }

            .company {
                font-style: italic;

                span {
                    // color: red;
                    display: inline-block;
                    margin-right: .9rem;
                    text-transform: capitalize;
                    font-style: normal;
                }
            }
        }
    }

    &-skills {
        .skill-div {
            margin: 1.7rem 0 1.8rem 1.4rem;
            display: flex;
            justify-content: space-between;

            // margin-bottom: .9rem;
            .skill-type {
                font-weight: bold;
            }

            p {
                &:last-child {
                    text-transform: uppercase;
                    margin-right: 2.4rem;
                }
            }
        }
    }
}

@media print {
    #page1 {
        page-break-after: always;
    }
}

div.ui-datepicker {
    font-size: 14px !important;
}