.dashboard-body {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background: whitesmoke;
  min-height: 57.8rem;

  .dashboard-left {
    width: 20%;

    .dashboard-card {
      background: white;
      border: 1px solid rgba($color-grey-dark-2, 0.36);

      padding: 1rem;
      margin: 1rem auto;
      width: 97%;
      font-size: 1.1rem;
      text-align: center;

      hr {
        color: rgba($color-grey-dark-2, 0.36);
        width: 60%;
        margin: 0 auto;
      }

      .prof-img {
        padding: 0.2rem;
        border-radius: 50%;
        width: 70;
        margin: 0 auto;

        img {
          width: 14rem;
        }
      }

      .prof-name {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1rem;

        &::first-letter {
          font-size: 2rem;
        }
      }

      .prof-employ {
        color: $color-secondary-dark;
        font-weight: normal;
        text-transform: uppercase;
        word-spacing: .8rem;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .prof-bio {
        margin: 0.5rem 0;
        font-size: 1.3rem;
        padding: 1rem 0;
        padding: 1rem;
        text-align: center;
      }
    }
  }

  .dashboard-middle {
    padding: 1rem;
    width: 60rem;
    margin: 0 1rem;
    width: 55%;

    .create-post {
      background: white;

      form {
        border: 1px solid rgba($color-grey-dark-2, 0.36);
        margin: 0 0 3rem;
        padding: 2rem;

        h2 {
          font-family: 'Fira Sans';
        }

        input[type="text"],
        textarea,
        select {
          margin-bottom: 1rem;
          display: block;
          padding: 1.2rem .8rem !important;
        }

        h2 {
          text-align: center;
          color: $color-primary-dark-2;
          font-size: 1.7rem;
        }

        .create-button {
          display: flex;

          input[type="file"] {
            cursor: pointer;
            width: 15rem;
            height: 4rem;
            overflow: hidden;
            margin-left: 2.5rem;
            margin-right: 3rem;
          }

          input[type="file"]:before {
            width: 15rem;
            height: 4rem;
            font-size: 1.8rem;
            line-height: 42px;
            content: "add picture";
            text-transform: uppercase;
            font-family: "PT Sans";
            display: inline-block;
            background: white;
            border: 0.1rem solid rgba($color-primary, 0.8);
            letter-spacing: .1rem;
            color: $color-primary;


            &:focus {
              box-shadow: 0 0.4rem 2px -2px $color-tertiary-dark;
            }

            text-align: center;
          }

          input[type="file"]::-webkit-file-upload-button {
            visibility: hidden;
          }

          input[type="file"]::-moz-file-upload-button {
            visibility: hidden;
          }

          a {

            font-size: 1.8rem;
            padding: 0 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "PT Sans";
            letter-spacing: .1rem;
          }

        }

        textarea {
          height: 20rem;

          &::placeholder {
            word-spacing: -.6rem;
            letter-spacing: -.1rem;
          }
        }

        .inp-grp {
          display: flex;
          width: 95%;
          margin: 0 auto;

          input {
            width: 55%;
            display: inline-block;
            margin-right: 2rem !important;
            padding: 1.2rem .8rem;

          }

          select {
            width: 45%;

          }
        }

        input[type="text"],
        textarea,
        select {
          display: block;
          padding: 1rem;
          width: 95%;
          resize: none;
          border-radius: 0.5rem;
          border: 1px solid rgba(black, 0.05);
          border-bottom: 0.1rem solid rgba($color-primary, 0.8);
          margin: 1.6rem auto;
          font-size: 1.5rem !important;
          background: white;


          &:focus {
            box-shadow: 0 0.4rem 2px -2px $color-tertiary-dark;
          }

          &::placeholder {
            font-size: 1.5rem;
            padding: 1.2rem;
          }
        }
      }
    }

    .actual-post {
      border: 1px solid rgba($color-grey-dark-2, 0.36);
      background: white;
      margin: 1rem 0;

      .job {
        margin: 1.2rem .8rem;

        .jobPosts {
          color: $color-primary-dark-2;

          &:visited,
          &:active,
          &:hover {
            color: $color-primary-dark-2;
          }
        }

      }
    }
  }

  .dashboard-right {
    margin: 1rem 1rem;
    width: 35%;

    .dashboard-comp {
      padding: 1rem 1.5rem;
      background: white;
      border: 1px solid rgba($color-grey-dark-2, 0.36);
      overflow: auto;
      max-height: 74.2rem;

      .company-list {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        text-align: left;

        .company-name {
          box-shadow: 1px 1px 8px rgba($color-grey-dark-2, 0.36);
          padding: 1.2rem 2.7rem;
          border-radius: .5rem;
          margin: 1.3rem 0;
          text-align: left;

          .company-bio {
            margin: .9rem 0;
            font-size: 1.1rem;
            font-weight: 100;
            font-family: 'Fira Sans', sans-serif;
            text-align: justify;
          }

          a {
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .1rem;
            font-size: 1.4rem;
            margin-left: .4rem;
            color: $color-primary-dark;
            font-family: Helvetica, sans-serif;
            transition: all .2s;
            position: relative;

            &:hover {
              font-size: 1.6rem;

              &::after {
                animation: underlineToRight 1s ease-in-out normal;
                animation-fill-mode: forwards;

              }
            }

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 115%;
              width: 0;
              left: -5%;
              border-top: 3px solid $color-secondary-dark;
            }
          }
        }

        h2 {
          color: $color-primary;
        }
      }
    }
  }
}

#No {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #ea545e;

  span {
    color: $color-primary-dark;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}