.login{
    text-align: center;
    background-image: linear-gradient(105deg, rgba($color-primary,.2) 0%, rgba($color-primary,.2) 50%, transparent 50%),url('../img/bg/job-bg-3.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    .login-body{
        border-radius: 5px;
        display: inline-block;
        margin: 15rem auto;
        background: white;
        box-shadow: 1px 1px 20px $color-grey-dark;
        form {
            
            a{ 
                display: inline-block;
                font-size: 1.2rem;
                margin-bottom: -1.2rem;
            }
            button{
                margin: 1.2rem auto;
                display: inline-block;
            }
            .social-login button{
                &:not(:last-child){
                    margin-right: .8rem;
                }
            }
            input{
                margin: 2rem auto;
            }
            p{
                margin: 1.2rem auto;
            }
        }
        
    }
}
