.messageBody {
    $gray: #92959E;
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;


    .people-list {
        width: 30%;
        background: $color-nav-footer;
        margin-right: 2rem;

        input {
            border-radius: 3px;
            border: none;
            padding: 14px;
            color: white;
            background: #6A6C75;
            width: 90%;
            font-size: 14px;
        }

        ul {
            padding: 20px;
            height: 770px;
            list-style: none;

            li {
                padding-bottom: 20px;

                .name {
                    color: white;
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }

        img {
            float: left;
            border-radius: 50%;
            display: flex;
            cursor: pointer;

        }

        .about {
            float: left;
            width: 80%;
        }

        .about {
            padding-left: 8px;
        }

        .status {
            color: $gray;
        }

    }

    .chat {
        width: 90%;
        background: #F2F5F8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        color: #434651;

        .chat-header {
            padding: 20px;
            border-bottom: 2px solid white;

            img {
                float: left;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }

            .chat-about {
                float: left;
                padding-left: 10px;
                margin-top: 6px;
            }

            .chat-with {
                font-weight: bold;
                font-size: 16px;
            }

            .chat-num-messages {
                color: $gray;
            }
        }

        .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 600px;

            ul {
                list-style: none;
            }

            .message-data {
                margin-bottom: 15px;

                &-name {
                    font-size: 1.4rem;
                }
            }

            .message-data-time {
                color: lighten($gray, 8%);
                padding-left: 6px;
            }

            .message {
                color: white;
                padding: 18px 20px;
                line-height: 26px;
                font-size: 16px;
                border-radius: 7px;
                margin-bottom: 30px;
                width: 90%;
                position: relative;

                &:after {
                    bottom: 100%;
                    left: 7%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: #86bb71;
                    border-width: 10px;
                    margin-left: -10px;
                }
            }

            .my-message {
                background: #86bb71;
                text-align: left;
                font-family: "Muli";
            }

            .other-message {
                background: $color-primary;
                text-align: right;
                font-family: "Muli";

                &:after {
                    border-bottom-color: $color-primary;
                    left: 93%;
                }
            }

        }

        .chat-message {
            padding: 30px;
            display: flex;

            textarea {
                width: 90%;
                border: none;
                padding: 10px 20px;
                font: 14px/22px "Lato", Arial, sans-serif;
                margin-bottom: 10px;
                border-radius: 5px;
                resize: none;

            }

            button {
                color: $color-primary;
                font-size: 16px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                font-weight: bold;
                background: #F2F5F8;
                padding: .8rem 1.2rem;
                border: 1px solid $color-primary;
                transition: .2s all;
                outline: none;
                height: 3.6rem;
                margin-left: 1.2rem;
                margin-top: 3rem;

                &:hover {
                    transform: translateY(-3px);

                    &:active {
                        transform: translateY(1px);
                    }
                }

                i {
                    margin-right: .8rem;
                    font-size: 1.8rem;
                }

                &:hover {
                    color: darken($color-primary, 7%);
                }
            }
        }
    }

    .me {
        color: $color-primary;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .float-right {
        float: right;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }


}