.modal {
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;

  .modal-content {
    width: 60%;
    margin: 5rem auto;
    box-shadow: 1px 1px 8px rgba($color-black, 0.36);
    overflow-y: auto;
    border-radius: .5rem;
    padding: 2rem;
    background: rgba(white, 1);
    @include clearfix;

    .modal-title {
      a {
        text-align: right;
        font-size: 4rem;
        color: $color-black;
        float: right;
        margin-right: 2rem;
        text-decoration: none;
      }
    }

    .modal-body {

      .post-head {
        text-align: center;
        font-size: 3rem;
        font-family: 'PT Sans', sans-serif;
        color: $color-primary-dark;
        padding: 0.7rem;

        .heading-secondary {
          @include underTagLong;
        }
      }

      .modal-post {
        display: flex;
        justify-content: space-around;

        .post-media {
          img {
            text-align: center;
            display: block;
            margin: 1rem auto;

          }

          width: 25%;

        }

        .post-body {

          margin: 2rem 1rem;
          padding: 1rem 0.5rem;
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          line-height: 2.5rem;
          font-family: Arial, Helvetica, sans-serif;
          width: 75%;
        }

      }

      .info {
        font-size: 1.2rem;
        text-align: right;
        margin-right: 2rem;
        display: none;

        .posted-by {

          p {
            font-size: 1.5rem;
            color: $color-primary-dark;
          }
        }

        .posted-date {
          text-align: right;
          font-family: monospace;
        }
      }

      .buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;

        a {
          letter-spacing: .1rem;
          padding: 0 1.2rem;

          &:first-child {
            color: $color-primary;
            border: 1px solid $color-primary-dark;

            &:hover {
              color: white;
            }
          }

          &:last-child {
            color: $color-danger;
            border: solid 1px $color-danger;
            font-weight: bold;

            &:hover {
              color: white;
              background: $color-danger;
            }
          }
        }
      }

      hr {
        color: rgba($color-grey-light-1, .4);
        width: 80%;
        margin: 0 auto;
        margin-top: 1.2rem;
      }
    }
  }
}

//second modal

.modal-profile-1 {
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;

  .edu-modal {
    width: 40%;
    margin: 5rem auto;
    box-shadow: 1px 1px 8px rgba($color-black, 0.36);
    overflow-y: auto;
    border-radius: .5rem;
    height: 90%;
    padding: 2rem;
    background: rgba(white, 1);

    .edu-modal-head {
      a {
        text-align: right;
        font-size: 3rem;
        color: $color-black;
        float: right;
        margin-right: 2rem;
        text-decoration: none;
      }
    }

    .edu-modal-body {
      h1 {
        text-align: center;
        font-size: 2rem;
        font-family: 'PT Sans', sans-serif;
        color: $color-primary-dark;
        padding: 0.7rem;
      }

      .each-modal-edu {
        margin: 2rem auto;
        padding: 1rem;
        box-shadow: 1px 1px 8px rgba($color-black, 0.36);
        text-align: center;

        .each-element {
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          font-size: 1.2rem;

          #course-title,
          #Date {
            text-transform: uppercase;
            color: $color-secondary;
            font-weight: bold;
          }

          #Institution {
            font-size: 1.5rem;
            color: $color-primary;
          }
        }
      }
    }
  }
}


//experience

.modal-profile-2 {
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;

  .exp-modal {
    width: 40%;
    margin: 5rem auto;
    box-shadow: 1px 1px 8px rgba($color-black, 0.36);
    overflow-y: auto;
    border-radius: .5rem;
    height: 90%;
    padding: 2rem;
    background: rgba(white, 1);

    .exp-modal-head {
      a {
        text-align: right;
        font-size: 3rem;
        color: $color-black;
        float: right;
        margin-right: 2rem;
        text-decoration: none;
      }
    }

    .exp-modal-body {
      h1 {
        text-align: center;
        font-size: 2rem;
        font-family: 'PT Sans', sans-serif;
        color: $color-primary-dark;
        padding: 0.7rem;
      }

      .each-modal-exp {
        margin: 2rem auto;
        padding: 1rem;
        box-shadow: 1px 1px 8px rgba($color-black, 0.36);
        text-align: center;

        .each-element {
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          font-size: 1.2rem;

          #designation,
          #start-end {
            text-transform: uppercase;
            color: $color-secondary;
            font-weight: bold;
          }

          #company {
            font-size: 1.5rem;
            color: $color-primary;
          }
        }
      }
    }
  }
}