.modal {
  width: 100vw;
  height: 100vh;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;

  .change {
    text-align: center;



    .change-body {
      position: relative;

      .modal-title {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2.5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: all .2s;
        text-align: center;
        line-height: 125%;
        border-radius: 50%;
        text-decoration: none;

        &:hover {
          background: $color-primary-dark;
          color: white;
        }
      }

      border-radius: 5px;
      display: inline-block;
      margin: 11.3rem auto;
      background: white;
      box-shadow: 1px 1px 20px $color-black;

      form {

        a {
          display: inline-block;
          font-size: 1.2rem;
          margin-bottom: -1.2rem;

        }

        button {
          margin: 1.2rem auto;
          display: inline-block;
        }

        input {
          margin: 2rem auto;
        }

        p {
          margin: 1.2rem auto;
        }
      }

    }
  }

  .modal-content {
    width: 60%;
    margin: 5rem auto;
    box-shadow: 1px 1px 8px rgba($color-black, 0.36);
    overflow-y: auto;
    border-radius: .5rem;
    padding: 2rem;
    background: rgba(white, 1);
    @include clearfix;
    position: relative;


    .modal-title {
      // display: flex;
      // text-align: right;
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 2.5rem;
      // transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all .2s;
      text-align: center;
      line-height: 125%;
      border-radius: 50%;


      &:hover {
        background: $color-primary-dark;
        color: white;
      }
    }




    .modal-body {


      .post-head {
        text-align: center;
        font-size: 3rem;
        font-family: 'PT Sans', sans-serif;
        color: $color-primary-dark;
        padding: 0.7rem;


        .heading-secondary {
          @include underTagLong;
        }
      }


      .modal-post {
        display: flex;
        justify-content: space-around;


        .post-media {
          img {
            text-align: center;
            display: block;
            margin: 1rem auto;


          }


          width: 25%;


        }


        .post-body {


          margin: 2rem 1rem;
          padding: 1rem 0.5rem;
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          line-height: 2.5rem;
          font-family: Arial, Helvetica, sans-serif;
          width: 75%;
        }


      }


      .info {
        font-size: 1.2rem;
        text-align: right;
        margin-right: 2rem;
        display: none;


        .posted-by {


          p {
            font-size: 1.5rem;
            color: $color-primary-dark;
          }
        }


        .posted-date {
          text-align: right;
          font-family: monospace;
        }
      }


      .buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;


        a {
          letter-spacing: .1rem;
          padding: 0 1.2rem;


          &:first-child {
            color: $color-primary;
            border: 1px solid $color-primary-dark;


            &:hover {
              color: white;
            }
          }


          &:last-child {
            color: $color-danger;
            border: solid 1px $color-danger;
            font-weight: bold;


            &:hover {
              color: white;
              background: $color-danger;
            }
          }
        }
      }


      hr {
        color: rgba($color-grey-light-1, .4);
        width: 80%;
        margin: 0 auto;
        margin-top: 1.2rem;
      }
    }
  }
}

.modal-message {
  width: 100vw;
  height: 100vh;
  background: rgba($color-black, .7);
  position: fixed;
  z-index: 10;
  display: none;


  .message-body {
    top: 0;
    left: 50%;
    padding: 1.5rem;
    width: 55rem;
    position: relative;
    margin-top: 19rem !important;
    background: white;
    transform: translateX(-50%);

    .modal-title {
      position: absolute;
      top: .3rem;
      right: .3rem;
      font-size: 2.5rem;
      // transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all .2s;
      text-align: center;
      line-height: 125%;
      border-radius: 50%;
      color: $color-primary;
      text-decoration: none;


      &:hover {
        background: $color-primary-dark;
        color: white;
      }
    }

    textarea {
      display: block;
      border: none;
      width: 100%;
      margin-top: 1.3rem;
      resize: none;
      padding: 1.2rem;
      border-bottom: 1px solid rgba($color-grey-dark, .4);
      color: $color-primary-dark;
      height: 14rem;
      border-bottom: 0.1rem solid rgba($color-primary, 0.8);

      &:focus {
        box-shadow: 0 0.4rem 2px -2px $color-tertiary-dark;
      }

      &::placeholder {
        font-size: 1.4rem;
        color: black;
      }
    }

    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      color: $color-primary;
    }

    .links {
      margin: 1rem 0;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      border: 1px solid $color-primary;
      margin-bottom: 0;
    }
  }
}

//second modal


.modal-profile-1 {
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;


  .edu-modal {
    width: 40%;
    margin: 5rem auto;
    box-shadow: 1px 1px 8px rgba($color-black, 0.36);
    overflow-y: auto;
    border-radius: .5rem;
    // height: 90%;
    padding: 2rem;
    background: rgba(white, 1);
    position: relative;


    .edu-modal-head {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 2.5rem;
      // transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all .2s;
      text-align: center;
      line-height: 125%;
      border-radius: 50%;


      a {
        color: black;
        text-decoration: none;
      }


      &:hover {
        background: $color-primary-dark;


        a {
          color: white;
        }
      }
    }


    .edu-modal-body {
      .edu-content {
        margin: 1.7rem 3rem 1.8rem 0;
        border-left: 2px solid $color-secondary;
        padding-left: 2.5rem;


        #body {
          font-size: 1.2rem;


          font-style: italic;


          &::first-letter {
            padding-left: 1rem;
          }
        }


        .name-ins {
          font-size: 1.5rem;
          text-transform: uppercase;
          font-family: "Fira sans";
          color: $color-primary-dark;
        }


        .degree {
          display: flex;
          justify-content: space-between;


          p {
            font-size: 1.7rem;
            text-transform: capitalize;
            font-family: 'PT sans';
            color: $color-secondary;


            &:last-child {
              color: $color-grey-dark;
              font-size: 1.3rem;
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
}




//experience


.modal-profile-2 {
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;


  .exp-modal {
    width: 40%;
    margin: 5rem auto;
    box-shadow: 1px 1px 8px rgba($color-black, 0.36);
    overflow-y: auto;
    border-radius: .5rem;
    // height: 90%;
    padding: 2rem;
    background: rgba(white, 1);
    position: relative;


    .exp-modal-head {
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 2.5rem;
      // transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all .2s;
      text-align: center;
      line-height: 125%;
      border-radius: 50%;


      a {
        color: black;
        text-decoration: none;
      }


      &:hover {
        background: $color-primary-dark;


        a {
          color: white;
        }
      }
    }


    .exp-modal-body {
      .edu-content {
        margin: 1.7rem 3rem 1.8rem 0;
        border-left: 2px solid $color-secondary;
        padding-left: 2.5rem;


        #body {
          font-size: 1.2rem;


          font-style: italic;


          &::first-letter {
            padding-left: 1rem;
          }
        }


        .name-ins {
          font-size: 1.5rem;
          text-transform: uppercase;
          font-family: "Fira sans";
          color: $color-primary-dark;
        }


        .degree {
          display: flex;
          justify-content: space-between;


          p {
            font-size: 1.7rem;
            text-transform: capitalize;
            font-family: 'PT sans';
            color: $color-secondary;


            &:last-child {
              color: $color-grey-dark;
              font-size: 1.3rem;
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
}


.modal-forgot {
  width: 100vw;
  height: 100vh;
  background: rgba($color-black, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;


  .login-body {
    padding-top: 0 !important;
    width: 55rem;
    position: relative;
    margin-top: 19rem !important;


    .modal-title {
      position: absolute;
      top: .3rem;
      right: .3rem;
      font-size: 2.5rem;
      // transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all .2s;
      text-align: center;
      line-height: 125%;
      border-radius: 50%;
      color: $color-primary;
      text-decoration: none;


      &:hover {
        background: $color-primary-dark;
        color: white;
      }
    }


    div {
      margin-top: 4rem;
      margin-left: 2rem;
    }


    input {
      display: block;
      width: 90%;
      margin-top: 1.2rem !important;
      margin-bottom: 0 !important;
      border: none;
      padding: 1.2rem;
      border-bottom: 1px solid rgba($color-grey-dark, .4);
      color: $color-primary-dark;
    }


    .links {
      margin: 1.5rem 0;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      border: 1px solid $color-primary;
    }
  }
}


//modal edit scss
.modal-post-form {
  width: 100%;
  height: 100%;
  background: rgba($color-black, .3);
  padding-top: 5rem;
  display: none;
  z-index: 3;
  position: fixed;

  .create-post {
    background: white;
    border-radius: .5rem;
    width: 40%;
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;

    .modal-title {
      position: absolute;
      top: .3rem;
      right: .3rem;
      font-size: 2.5rem;
      // transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all .2s;
      text-align: center;
      line-height: 125%;
      border-radius: 50%;
      color: $color-primary;
      text-decoration: none;
    }

    form {
      box-shadow: 1px 1px 8px rgba($color-tertiary-dark, 0.36);
      margin: 0 0 3rem;
      padding: 2rem;

      h2 {
        font-family: 'Fira Sans';
      }

      input[type="text"],
      textarea,
      select {
        margin-bottom: 1rem;
        display: block;
        padding: .5rem 1rem !important;
      }

      h2 {
        text-align: center;
        color: $color-primary-dark-2;
        font-size: 1.7rem;
      }

      .create-button {
        display: flex;

        input[type="file"] {
          cursor: pointer;
          width: 15rem;
          height: 4rem;
          overflow: hidden;
          margin-left: 2.5rem;
          margin-right: 3rem;
        }

        input[type="file"]:before {
          width: 15rem;
          height: 4rem;
          font-size: 1.8rem;
          line-height: 42px;
          content: "add picture";
          text-transform: uppercase;
          font-family: "PT Sans";
          display: inline-block;
          background: white;
          border: 0.1rem solid rgba($color-primary, 0.8);
          letter-spacing: .1rem;
          color: $color-primary;


          &:focus {
            box-shadow: 0 0.4rem 2px -2px $color-tertiary-dark;
          }

          text-align: center;
        }

        input[type="file"]::-webkit-file-upload-button {
          visibility: hidden;
        }

        input[type="file"]::-moz-file-upload-button {
          visibility: hidden;
        }

        a {
          // font-weight: bold;
          font-size: 1.8rem;
          padding: 0 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "PT Sans";
          letter-spacing: .1rem;
        }

      }

      textarea {
        height: 20rem;

        &::placeholder {
          word-spacing: -.6rem;
          letter-spacing: -.1rem;
        }
      }

      .inp-grp {
        display: flex;
        width: 95%;
        margin: 0 auto;

        input {
          width: 55%;
          display: inline-block;
          margin-right: 2rem !important;

        }

        select {
          width: 45%;

        }
      }

      input[type="text"],
      textarea,
      select {
        display: block;
        padding: 1rem;
        width: 95%;
        resize: none;
        border-radius: 0.5rem;
        border: 1px solid rgba(black, 0.05);
        border-bottom: 0.1rem solid rgba($color-primary, 0.8);
        margin: 1.6rem auto;
        font-size: 1.5rem !important;
        background: white;


        &:focus {
          box-shadow: 0 0.4rem 2px -2px $color-tertiary-dark;
        }

        &::placeholder {
          font-size: 1.5rem;
          padding: 1.2rem;
        }
      }
    }
  }
}