// // for new one display-org

.Profile-main-body {
  display: flex;
  padding: 3rem;
  min-height: 57.8rem;
  align-items: self-start !important;

  .profile-left {
    width: 20%;
    margin-right: 10rem;
    padding: 0 9rem;

    .prof-head-img {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      img {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
      }
    }

    width: 25%;
    padding: 1rem;
    margin-right: 1rem;

    .left-elements {
      margin-bottom: 3rem;
      font-size: 1.2rem;

      .left-heading {
        padding: 0 5rem;
        margin: 1.7rem 0;

        .title {
          display: flex;
          align-items: self-start;

          margin-bottom: .9rem;
          vertical-align: middle;

          .one {
            font-size: 1.7rem;
            margin-right: 2rem;
            color: $color-primary;
            font-weight: bold;
          }

          .two {
            margin-top: .8rem;
            font-size: 1.4rem;
            border-radius: 0.3rem;
            text-align: center;
            line-height: 100%;
            color: $color-black;
            font-weight: bold;
            width: 1.5rem;
            height: 1.5rem;
            background: $color-grey-light-1;
            text-decoration: none;
          }
        }

        .body {
          .first-line {
            text-transform: uppercase;
          }

          .second-line {
            color: $color-secondary;
            font-size: 1.4rem;
            margin-bottom: 1.6rem;
          }
        }
      }
    }

    .left-bottom {
      padding: 0 5rem;
      padding-right: 3rem;
      font-size: 1.3rem;

      .left-bottom-heading {
        font-size: 1.7rem;
        color: $color-primary;
        letter-spacing: 0.1rem;
        margin-bottom: 1.4rem;

      }

      .skill-set {
        display: flex;
        justify-content: space-between;
        padding-right: 4rem;

        div {
          &:first-child {
            margin-right: 1.4rem;
          }

          h3,
          h4 {
            margin: .6rem 0;
            padding: .2rem 0;
            line-height: 1.4rem;
            margin-bottom: 1.8rem;
          }

          h3 {
            font-weight: 500;
            text-transform: uppercase;
          }

          h4 {
            font-size: 1.3rem;
            font-weight: lighter;
          }
        }
      }
    }
  }

  .profile-right-jsk {
    width: 70%;

    .prof-head-info {
      width: 75%;
      padding: 0rem 2rem;
      font-size: 1.3rem;
      // margin-left: 2rem;

      i {
        margin-right: 0.5rem;
      }

      .info {
        margin: 3rem 0 0rem;

      }


      .prof-head-name {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        display: inline-block;
        margin-right: 1rem;
        color: $color-secondary;
        font-family: 'Fira Sans';
        text-transform: uppercase;
        margin-bottom: 1.4rem;

        // &::first-letter {
        //   font-size: 3rem;
        //   color: $color-primary;

        // }
      }

      .prof-head-address {
        display: inline-block;
        color: $color-grey-dark;
        font-family: 'PT Sans';
        margin-bottom: 1.4rem;
      }

      .message {
        margin-left: 5rem;
        padding: 0.5rem 1rem;
        color: $color-secondary;
        background: white;
        font-size: 1.3rem;
        border-radius: .3rem;
        border: 1px solid $color-primary;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        transition: .2s all;
        font-size: 1.4rem;
        font-weight: 500;

        &:hover {
          color: white;
          background: $color-primary;
          transform: translateY(-3px);
          transition: all .1s;

          &:active {
            transform: translateY(1px);
          }

          i {
            color: white;
          }
        }

        i {
          color: $color-primary;
          margin-right: 0.7rem;
          font-size: 2rem;
          padding: 0rem;
          vertical-align: middle;
        }

      }

      .prof-head-bio {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        color: $color-grey-dark-3;
      }

      .prof-head-gender {
        display: block;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $color-primary;
        margin: 1.2rem 0;
        letter-spacing: .2rem;
        margin-bottom: 0;

        &::first-letter {
          font-size: 2.2rem;
          color: $color-secondary;
        }
      }

      .prof-head-interest {
        color: $color-primary;
        font-weight: normal;
        text-transform: uppercase;
        word-spacing: .8rem;
        font-size: 1.2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        // font-style: oblique;


      }

    }

    .prof-head-switch {
      display: flex;
      // justify-content: space-around;
      align-items: self-start;
      margin-top: 1.2rem;
      font-size: 1.5rem;
      cursor: pointer;
      margin-left: 2rem;

      border-bottom: 2px solid rgba($color-grey-dark-2, .4);

      a {
        color: $color-secondary;
        text-decoration: none;

        i {
          margin-right: .5rem;
          color: $color-primary;
        }

        &:last-child {
          margin-left: 3rem;
        }
      }
    }

    .prof-body-part-right {
      margin-left: 1rem;
      // width: 75%;

      #timeline-right {
        display: grid;
        padding: 1.2rem .8rem;
        // margin: 1.2rem .8rem;
        // padding: 3rem;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        // grid-template-columns: auto auto;
        grid-gap: 1rem;
        grid-row-gap: 2rem;
        align-content: start;
        min-height: 44rem;
      }

      #about-right {
        padding: 0 1rem;
        margin-top: 0rem;

        h1 {
          margin-bottom: 1rem;
          color: $color-primary;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: lighter;
        }

        #ext {
          margin-bottom: 2.2rem;

          .right-elements {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            display: flex;

            .heading {
              color: $color-secondary;
              font-weight: bold;
              width: 20%;

              i {
                margin-right: .6rem;
                color: $color-primary;
                font-size: 1.5rem;
              }
            }

            .text {
              width: 70%;
            }
          }
        }

      }

    }
  }
}

.fa-phone {
  transform: rotate(90deg);
}

.when {
  padding: 0 0.3rem;
  position: relative;
  @include underTagLong;

  &::after {
    width: 102%;
    top: 100%;
  }
}