.button{
    &-primary,&-secondary,&-tertiary{
        &,
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.0rem 3.0rem;
            display: inline-block;
            border-radius: 10.0rem;
            transition: all .2s;
            position: relative;
            font-size: 1.2rem;
            background: $color-primary;
            color: $color-white;
            border: none;
            cursor: pointer;
        }
        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    
            &::after {
                transform: scaleX(1.5) scaleY(1.6);
                opacity: 0;
            }
        }
    
        &:active,
        &:focus {
            outline: none;
            transform: translateY(-0.1rem);
            box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
        }
        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
        }
    }
    &-primary{
        background: $color-primary-dark;
        color: $color-white;
        &::after{
            background: $color-primary-light;
        }
    }
    &-secondary{
        background: $color-secondary-dark;
        color: $color-white;
        &::after{
            background: $color-secondary-light;
        }
    }
    &-tertiary{
        background: $color-tertiary-dark;
        color: $color-white;
        &::after{
            background: $color-tertiary-light;
        }
    }
}
.links{
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 0px 5px;
        transition: all .2s;
    }

    &:hover {
        background: $color-primary;
        color: $color-white;
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        transform: translate(0px, -5px) scale(1.05)
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}
.links-2{
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-right: 1px solid $color-primary;
        padding: 3px 5px;
        transition: all .2s;
    }

    &:hover {
        background: $color-primary;
        color: $color-white;
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        transform: translate(0px, -5px) scale(1.05)
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}