.inputOutline{
    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
        border-color: rgba($color-secondary-dark, 1);
        // box-shadow: 0 2px 8px rgba($color-secondary-dark, 0.075) inset, 0 0 8px rgba($color-secondary-dark, 0.6);
        box-shadow: 2px 2px 20px $color-tertiary-dark;
        outline: 0 none;
    }
}