.navbar{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 3.5rem 1.3rem 3rem;
    box-shadow: 0 1px 8px $color-grey-light-2;
    color: $color-primary;
    &--left{
        .brand-logo{
            font-size: 2rem;
            margin-right: .9rem;
        }
        .brand-header{
            display: inline-block;
            font-size: 2.4rem;
        }
    }
    &--right{
        padding-top: 1rem;
        .navbar-links{
            font-size: 1.6rem;
            ul{
                list-style: none;
                text-align: center;
                
                
                li{
                    display: inline-block;
                    height: 3.5rem;
                    width: 3.5rem;
                    text-align: center;
                    padding-top: .3rem;
                    vertical-align: middle;
                    transition: color .2s;
                    a{
                        text-decoration: none;
                        color: $color-grey-dark;
                        img{
                            display: inline-block;
                            clip-path: circle(50% at 50% 50%);
                            transform: scale(1.2);
                        }
                    }
                    &:hover{
                        &:not(:last-child){
                            background: rgba(#9eacf7,.35);
                            border-radius: 50%;
                        }
                        a .fa,
                        a .far{
                            color: #6a82ff;
                            text-shadow: 1px 1px rgba($color-grey-dark,.8);
                           
                        }
                    }
                }
            }
        }
    }

}