.navbar{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem 3.5rem .5rem 3rem;
    box-shadow: 1px 1px 10px rgba($color-black,.4);
    color: $color-primary;
    border-radius: 0 0 10px 10px;
    &--left{
        margin-top: .2rem;
        .brand-logo{
            font-size: 2rem;
            margin: .5rem 1.3rem;
            
        }
        .brand-header{
            display: inline-block;
            font-size: 2.4rem;
            
        }
    }
    &--right{
        margin-top: .2rem;
        .navbar-links{
            font-size: 1.6rem;
            ul{
                list-style: none;
                text-align: center;
                
                
                li{
                    display: inline-block;
                    height: 3.5rem;
                    width: 3.5rem;
                    text-align: center;
                    padding-top: .3rem;
                    vertical-align: middle;
                    transition: color .2s;
                    a{
                        text-decoration: none;
                        color: $color-grey-dark;
                        img{
                            display: inline-block;
                            // clip-path: circle(50% at 50% 50%);
                            border-radius: 50%;
                            // transform: scale(1);
                        }
                    }
                    &:hover{
                        &:not(:last-child){
                            background: rgba(#9eacf7,.35);
                            border-radius: 50%;
                        }
                        a .fa,
                        a .far{
                            color: #6a82ff;
                            text-shadow: 1px 1px rgba($color-grey-dark,.8);
                           
                        }
                    }
                }
            }
        }
    }

}

.navbar-landing{
    // display: flex;
    // justify-content: space-between;
    .navbar-links{
        margin: 1.2rem 1.4rem;
        // padding: 1.2rem;
        text-transform: uppercase;
        width: 80%;
        ul {
            list-style: none;
        }
        li{
            display: inline-block;
            margin: 0 2rem;
            a{
                color: white;
            }
        }
    }
    .navbar-left{
        background-image: linear-gradient(-21deg, rgba($color-primary-light,.7) 0%, rgba($color-primary,.7) 50%, rgba($color-primary-dark,.7) 100%);
        width: 43%;
        display: inline-block;
        // height: 20rem;
        margin-top: -8rem;
        
        
    }
    .navbar-right{
        background-image: linear-gradient(21deg, rgba($color-primary-light,.7) 0%, rgba($color-primary,.7) 50%, rgba($color-primary-dark,.7) 100%);
        width: 43%;
        // height: 20rem;
        margin-top: -8rem;
        text-align: right;
        display: inline-block;
        
    }
    // .brand-logo{
    //     border-radius: 50%;
    //     box-shadow: 1px 1px 20px rgba(black,.4);
    //     margin-top: 2rem;
    //     background: white;
    //     // transform: scale(1.3);
    // }
    .navbar-left{
        position: relative;
        
        .navbar-links{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }    
    .navbar-right{
        position: relative;
        .navbar-links{
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
        }
    }
    .navbar-center{
        display: inline-block;
        
    }
}