.navbar{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem 3.5rem .5rem 3rem;
    box-shadow: 1px 1px 10px rgba($color-black,.4);
    color: $color-primary;
    border-radius: 0 0 10px 10px;
    &--left{
        margin-top: .2rem;
        .brand-logo{
            font-size: 2rem;
            margin: .5rem 1.3rem;
            
        }
        .brand-header{
            display: inline-block;
            font-size: 2.4rem;
            
        }
    }
    &--right{
        margin-top: .2rem;
        .navbar-links{
            font-size: 1.6rem;
            ul{
                list-style: none;
                text-align: center;
                
                
                li{
                    display: inline-block;
                    height: 3.5rem;
                    width: 3.5rem;
                    text-align: center;
                    padding-top: .3rem;
                    vertical-align: middle;
                    transition: color .2s;
                    a{
                        text-decoration: none;
                        color: $color-grey-dark;
                        img{
                            display: inline-block;
                            // clip-path: circle(50% at 50% 50%);
                            border-radius: 50%;
                            // transform: scale(1);
                        }
                    }
                    &:hover{
                        &:not(:last-child){
                            background: rgba(#9eacf7,.35);
                            border-radius: 50%;
                        }
                        a .fa,
                        a .far{
                            color: #6a82ff;
                            text-shadow: 1px 1px rgba($color-grey-dark,.8);
                           
                        }
                    }
                }
            }
        }
    }

}