.dropdown{
    position: absolute;
    background: rgba($color-white,.9);
    margin-top: 2rem;
    margin-left: -8rem;
    display: none;
    border-radius: 5px;

    &-content{
        .dropdown-nav{
            margin: .6rem;
            display: flex;
            justify-content: space-evenly;
            gap: 2rem;
            border-bottom: 1px solid rgba($color-grey-dark,.5) ;
            p{
                padding: .3rem 1.1rem;
                text-transform: uppercase;
                text-decoration: none;
                display: inline-block;
                font-size: 1.3rem;
                color: $color-black ;
                margin-bottom: .1rem;
                &:hover{
                    // background: $color-grey-ark;
                    color: $color-primary-dark-2;
                    cursor: pointer;
                }
            }
        }
        .dropdown-body{
            .employer,.jobseeker{
                display: none;
            }
            img{
                display: block;
                margin: 2rem auto;
            }
            .btn-dp{
                display: inline-block;
                // margin: 2rem auto;
                // width: 50%;
                text-align: center;
                margin-right: 50%;
                margin-bottom: 1.2rem;
                transform: translate(40%);
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            hr{
                width: 80%;
                margin: 0 auto;
            }
            .heading-secondary{
                display: block;
                text-align: center;
            }
            p{
                text-align: center;
                text-transform: none;
                padding: .4rem .6rem;
                margin: 0 auto;
                width: 80%;
                // margin
            }
        }
    }
}
.active{
    background: $color-primary-light;
    color: white !important;
}
.show{
    display: block !important;
}