.job {
  background: $color-grey-dark-2;
  padding: 1.5rem 1rem;
  background: $color-white;
  box-shadow: 1px 1px 4px rgba($color-grey-dark-2, 0.36);
  height: 12.5rem;

  .jobPosts {
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: "Fira Sans";

    &:focus,
    &:active,
    &:visited {
      color: $color-primary;
    }
  }

  li {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 1.2rem;
  }

  .head-ele {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .job-title {
      display: inline-block;


    }

    .post-buttons {
      margin-top: 1rem;
      display: inline-block;
      width: 12rem;
      display: flex;
      justify-content: right;

      .edit {
        color: $color-primary-dark-2;
      }

      .delete {
        color: $color-danger;
      }

      .check {

        color: $color-tertiary-dark;
        display: none;
      }

      a {

        text-align: center;

        i {
          margin-left: 1.5rem;
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;

        }

        .fa-edit,
        .fa-trash,
        .fa-check {
          font-size: 1.4rem;

          cursor: pointer;
          transition: all .2s;
          text-align: center;
          // padding: 1rem;
          border-radius: 50%;
        }

        .fa-edit {
          &:hover {
            background: $color-primary;
            color: white;
            text-align: center;
          }
        }

        .fa-trash {
          &:hover {
            background: rgba($color-danger, 1);
            color: white;
            text-align: center;
          }
        }

        .fa-check {
          background: rgba($color-tertiary-dark, 1);
          color: white;
          text-align: center;
        }
      }
    }

  }


  &-body {
    margin-top: .8rem;
    width: 90%;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
  }

  &-by {
    font-size: 1.1rem;
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;

    .job-date {
      font-family: monospace;
      letter-spacing: -.1rem;
      font-size: 1.3rem;
    }

    .job-name {

      position: relative;

      a {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.4rem;
        margin: .8rem 0;
        text-decoration: none;
        color: $color-secondary;

      }

      &:hover {

        &::after {
          animation: underlineToRight-2 1s ease-in-out normal;
          animation-fill-mode: forwards;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        width: 0px;
        left: 5%;
        border-top: 3px solid $color-primary-dark;
      }
    }
  }
}