.slider{
    padding:3px;
    border-radius:50px;
    display: inline-block;
    background: #eee;
    .sliderMode{
        display: flex;
        justify-content: center;
        font-size:16px;
        text-transform: uppercase;
        position: relative;
        div{
            position: relative;
            cursor: pointer;
            padding:7px 20px;
            border-radius:40px;
            transition: .4s;
            z-index: 3;
            background: rgba(0,0,0,0);
        }
        div.on{
            color:#fff;

            // background: green;
        }
        .overlay{
            position: absolute;
            z-index: 2;
            border-radius:40px;
            width: calc(50% - 3px);
            left:3px;
            top:3px;
            bottom: 3px;
            background:green;
            transition: .5s cubic-bezier(0.1, 0.8, 0.1, 1);
            &.on{
                transform: translateX(100%);
            }
        }
        
    }

}
