*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    // color: red !important;
    // padding: 3rem;
    box-sizing: border-box;
}