
$color-primary: #5d78ff;
$color-primary-light: #8b9df8;
$color-primary-dark : #4665fd;
$color-primary-dark-2 : #3859fc;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white : #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-3 : #333;
$color-secondary-light: #ffb900;
$color-secondary: #d67d08;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #42e678;
$color-tertiary-dark: #0fe456;


// font-sizes
$default-font-size: 1.6rem;

